{{ partial "head.html" . }}
{{ partial "header.html" . }}

<main class="single">
    <header>
        <h1>{{$.Title}}</h1>
        <small>
            Published: <time datetime="{{.Date}}">{{.Date.Format "January 2, 2006"}}</time>
            {{ with .GitInfo }}
            ·
            Modified: <time datetime="{{ $.GitInfo.AuthorDate}}">{{ $.GitInfo.AuthorDate.Format "January 2, 2006 15:04"}}</time>
            ·
            <a href="https://codeberg.org/rumpelsepp/homepage/commit/{{ $.GitInfo.Hash }}">{{ $.GitInfo.AbbreviatedHash }}</a>
            {{ end }}
        </small>
    </header>
    <article>
        {{.Content}}
    </article>
</main>

{{ partial "footer.html" }}
