<footer>
  The content for this site is
  <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a>.
  The <a href="https://codeberg.org/rumpelsepp/homepage">code for this site</a>
  is <a href="https://opensource.org/licenses/MIT">MIT</a>.
  German law stuff: <a href="{{ "impressum" | absURL }}">Impressum</a>.
</footer>
