<header class="main-header">
    <nav>
        <a href="{{ "" | absURL }}">~rumpelsepp</a>
        ·
        <a href="{{ "stuff" | absURL }}">stuff</a>
        ·
        <a href="{{ "contact" | absURL }}">contact</a>
    </nav>
</header>

